#footer {
  padding: 30px;
  width: 100%;

  .footer-content {
    display: flex;
    flex-wrap: wrap;
  }

  #github-kusa {
    width: 100%;

    img {
      margin-top: 1rem;
      margin-bottom: 2rem;
      width: 100%;
    }
  }
}
